*.jpeg
*.png
*.jpg
*.webp
*.svg
.idea/
*.iml
out
gen
*.log
config.core.php
/index.php
/.htaccess
/images/
/webp/
/core/
#!/core/components/
/connectors/
#!/connectors/converter/
/manager/
/assets/*
#!/assets/components/
!/assets/template/